---
- name: install packages
  delegate_to: chroot
  pacman:
    pkg:
      - ack
      - acpi
      - aircrack-ng
      - bash-completion
      - bettercap
      - bwm-ng
      - calc
      - clamav
      - cmatrix
      - dsniff
      - elinks
      - ipython
      - hping
      - htop
      - tmux
      - wireshark-cli
