---
- name: checkout liquidprompt
  git:
    repo: https://github.com/nojhan/liquidprompt.git
    dest: '/root/.stuff/liquidprompt'
    depth: 1

- name: symlink liquidprompt
  file:
    dest: '/root/.bashrc.d/liquidprompt.bash'
    src: ../.stuff/liquidprompt/liquidprompt
    state: link

- name: copy prompt config
  copy:
    src: liquidprompt_custom.bash
    dest: '/root/.bashrc.d/liquidprompt_custom.bash'
