---
- name: copy console settings
  copy:
    src: vconsole.conf
    dest: /etc/vconsole.conf

- name: adapt /etc/issue to fix font setting
  template:
    src: issue
    dest: /etc/issue

- name: install packages
  pacman:
    pkg:
      - zbar
